---
import { getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import PostList from '../../components/PostList.astro';

const posts = (
  await getCollection('posts', ({ data }) => import.meta.env.DEV || !data.draft)
).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Base title="Posts" description="All posts by Chris Dale.">
  <h1 class="rule-heading">Posts</h1>
  <PostList posts={posts} showDescriptions />
</Base>
