---
import Base from '../layouts/Base.astro';
---

<Base title="404">
  <section class="hero">
    <h1>404</h1>
    <p>command not found</p>
  </section>
  <p class="more-link"><a href="/">cd ~ →</a></p>
</Base>
