---
import Base from '../layouts/Base.astro';
---

<Base title="Contact" description="Where to find Chris Dale: LinkedIn, River Security, SANS, YouTube, and email.">
  <h1 class="rule-heading">Contact</h1>
  <ul class="link-list">
    <li>
      <span class="what">email</span>
      <a href="mailto:chris@riversecurity.no">chris@riversecurity.no</a>
    </li>
    <li>
      <span class="what">linkedin</span>
      <a href="https://www.linkedin.com/in/chrisad/">linkedin.com/in/chrisad</a>
    </li>
    <li>
      <span class="what">river security</span>
      <a href="https://riversecurity.eu/">riversecurity.eu</a>
    </li>
    <li>
      <span class="what">sans</span>
      <a href="https://www.sans.org/profiles/chris-dale">sans.org/profiles/chris-dale</a>
    </li>
    <li>
      <span class="what">youtube</span>
      <a href="https://www.youtube.com/c/chrisdale">youtube.com/c/chrisdale</a>
    </li>
    <li>
      <span class="what">x / twitter</span>
      <a href="https://x.com/ChrisADale">@ChrisADale</a>
    </li>
    <li>
      <span class="what">bluesky</span>
      <a href="https://bsky.app/profile/chrisdale.bsky.social">@chrisdale.bsky.social</a>
    </li>
    <li>
      <span class="what">instagram</span>
      <a href="https://www.instagram.com/chris.adale/">@chris.adale</a>
    </li>
    <li>
      <span class="what">discord</span>
      <a href="https://discord.gg/KxdWt3nker">chat with my team and me</a>
    </li>
    <li>
      <span class="what">spotify</span>
      <a href="https://open.spotify.com/user/1122539148">my playlists</a>
    </li>
  </ul>
</Base>
